[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesDccGarch"]
	path = bayesDccGarch
	url = https://github.com/jafiorucci/bayesdccgarch
[submodule "forecTheta"]
	path = forecTheta
	url = https://github.com/cran/forecTheta
